@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 84 100% 42%;
    --primary-foreground: 84 100% 98%;
    --secondary: 84 100% 90%;
    --secondary-foreground: 84 100% 20%;
    --muted: 84 100% 96.1%;
    --muted-foreground: 84 100% 45.1%;
    --accent: 166 98% 59%;
    --accent-foreground: 166 98% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 84 100% 89.8%;
    --input: 84 100% 89.8%;
    --ring: 84 100% 42%;
    --chart-1: 84 100% 42%;
    --chart-2: 166 98% 59%;
    --chart-3: 84 100% 35%;
    --chart-4: 166 98% 45%;
    --chart-5: 84 100% 30%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 84 100% 5%;
    --foreground: 84 100% 98%;
    --card: 84 100% 5%;
    --card-foreground: 84 100% 98%;
    --popover: 84 100% 5%;
    --popover-foreground: 84 100% 98%;
    --primary: 84 100% 42%;
    --primary-foreground: 84 100% 5%;
    --secondary: 84 100% 15%;
    --secondary-foreground: 84 100% 98%;
    --muted: 84 100% 15%;
    --muted-foreground: 84 100% 65%;
    --accent: 166 98% 59%;
    --accent-foreground: 166 98% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 84 100% 15%;
    --input: 84 100% 15%;
    --ring: 84 100% 42%;
    --chart-1: 84 100% 42%;
    --chart-2: 166 98% 59%;
    --chart-3: 84 100% 35%;
    --chart-4: 166 98% 45%;
    --chart-5: 84 100% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
